* { box-sizing: border-box }
body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header,  
main, menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
}
a { 
	text-decoration: none;
	color: inherit;
}
ul, menu { list-style: none; }
table { border-collapse: collapse; }